#local-cuisine {
    padding: 20px;
  }
  
  .restaurant, .popular-dishes {
    margin-bottom: 20px;
  }
  
  .restaurant ul, .popular-dishes ul {
    list-style: none;
    padding: 0;
  }
  
  .restaurant h4 {
    margin-bottom: 5px;
  }
  
  .restaurant p, .popular-dishes p {
    margin-bottom: 10px;
  }
  